body {
    font-family: 'Roboto', 'Source Serif 4', sans-serif;
    font-size: 14px;
}

main {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}

.inputFields {
    width: 20vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.inputFields > input {
    padding: 10px 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    min-width: 20vh;
}
.buttons > button {
    padding:5px 10px;
    margin:0 5px;

    background: #FFFFFF;
    border: 1px solid #0D0D0D;
    cursor: pointer;
}